name: Xodium CI/CD - Build Application

on:
  push:
    branches: [ main, dev ]

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v5.0.1

      - id: setup-java
        name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin

      - id: setup-gradle
        name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2

      - id: build-gradle
        name: Build with Gradle
        run: ./gradlew shadowJar

      - id: upload-artifact
        name: Upload Build Artifact
        if: ${{ success() }}
        uses: actions/upload-artifact@v5
        with:
          path: build/libs/*.jar
