name: Xodium CI/CD
run-name: "Xodium CI/CD"

on: { push: { branches: [ main ], paths: [ "src/**" ] }, workflow_dispatch: }

permissions: { contents: write, packages: write }

concurrency: { group: "${{ github.workflow }}-${{ github.ref }}", cancel-in-progress: true }

jobs:
  build:
    runs-on: ubuntu-latest
    environment: { name: "${{ github.ref_name }}", url: "${{ steps.upload_artifact.outputs.artifact-url }}" }
    outputs: { VERSION: "${{ steps.get_artifact_version.outputs.VERSION }}" }
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@main

      - id: setup_java
        name: Setup Java
        uses: actions/setup-java@main
        with: { distribution: temurin, java-version: "21" }

      - id: setup_gradle
        name: Setup Gradle
        uses: gradle/actions/setup-gradle@ac638b010cf58a27ee6c972d7336334ccaf61c96

      - id: generate_dependency_graph
        name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@ac638b010cf58a27ee6c972d7336334ccaf61c96
        with:
          dependency-graph-continue-on-failure: true
          build-scan-publish: true
          build-scan-terms-of-use-url: "https://gradle.com/help/legal-terms-of-use"
          build-scan-terms-of-use-agree: "yes"

      - id: get_artifact_version
        name: Get Artifact Version
        run: echo VERSION=v$(./gradlew -q printVersion) > $GITHUB_OUTPUT

      - id: build_artifact
        name: Build Artifact
        run: ./gradlew shadowJar

      - id: upload_artifact
        name: Upload Artifact
        uses: actions/upload-artifact@main
        with: { name: vanillaplus, path: build/libs/VanillaPlus-*.jar }

  release:
    needs: [ build ]
    runs-on: ubuntu-latest
    environment: { name: "${{ github.ref_name }}", url: "${{ steps.release_artifact.outputs.url }}" }
    steps:
      - id: download_artifact
        name: Download Artifact
        uses: actions/download-artifact@main
        with: { name: vanillaplus }

      - id: release_artifact
        name: Release Artifact
        uses: softprops/action-gh-release@db560141c659d99bd86de129a0070ee5c0577390
        env: { GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}" }
        with:
          draft: ${{ contains(github.event.head_commit.message, '.draft') }}
          generate_release_notes: true
          prerelease: ${{ contains(github.event.head_commit.message, '.pre') }}
          tag_name: ${{ needs.build.outputs.VERSION }}
          files: VanillaPlus-*.jar
